@model Aphrie.Project.UI.Models.RegesterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/_LayoutRegisterPage.cshtml";
}

<!DOCTYPE html>
<html >
<!-- Head -->

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" media="all">
   
    <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
    <h1 class="title-agile text-center margin-right-60">  Register New USer </h1>
    <div class="content-w3ls">
        <div class="content-bottom">
            <h2>Register Here <i class="fa fa-hand-o-down" aria-hidden="true"></i></h2>
            @*<form "CreatPost" , "Account" FormMethod.Post, new { enctype="multipart/form-data" }>*@
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="Username" id="text1" type="text" value="" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-picture-o" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input type="file" name="ImageFile"  style="padding-right: 28px;" />
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="Phone" id="number" type="text" value="" placeholder="Contact Number" >
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="password" id="myInput" type="Password" placeholder="Password">
                        </div>
                    </div>
                    <div class="wthree-field">
                        <input id="saveForm" name="saveForm" type="submit" value="Register" />
                    </div>
                    <div class="account">
                        <p class="text-center">Already have an account ? @Html.ActionLink("Login", "Login")</p>

                    </div>
                @*</form>*@
                }
        </div>
    </div>
    <div class="copyright text-center">
        <p>
            © 2020  All rights reserved 
        </p>
    </div>
</body>
<!-- //Body -->
</html>
