@model IEnumerable<Aphrie.Project.UI.Models.Account>

@{
    ViewBag.Title = "Home";

}

<link href="~/Content/styleforbuttonfollow.css" rel="stylesheet" />
<h3>
    <strong> People to follow </strong>
</h3>
<hr />
<div class="wrap">
    <div class="right-content">
        @foreach (var item in Model)
        {
            var id = item.IsFollow ? " Unfollow " : " follow ";
            var hart = item.IsFollow ? "fa-heart" : "fa-heart-o";

            <div class="content-grids">
                <div class="content-grid">
                    <h3>@item.Name</h3>
                    <img src="~/images/figer.jpg" style="width:300px;height:300px" />
                    <div class="comments">
                        <ul>
                            @*<li><a href="#"><img src="/images/views.png"class="hidden" title="view" /></a></li>
                            <li><a href="#"><img src="/images/link.png" title="link" class="hidden"/></a></li>*@
                            <li>
                                <button id="we" data-Id=@item.Id class="btn btn-danger fa @hart toggle show">@id</button>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <hr />
                </div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/follow")